# Google Apps Script or other Webhook endpoint for RSVP tracking
VITE_RSVP_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyQckAEM81mlFA3e8joN6gvGYHfFeO_J-I6C2jGzcV2vrsTzld_xETx7KeqXEepz2bF/exec
